body {
    background-color: rgb(198, 41, 41);
}
.padre {
    text-align: center;    
    font-weight: bold;     
    padding: 10px 0;       
    font-size: 18px;        
    background-color: rgb(198, 41, 41);
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-template-areas: 
        "nom    nom    nom"
        "caja1  caja2  caja3"
        "caja4  caja4  caja5"
        "caja4  caja4  caja6"
        "caja4  caja4  caja7"
        "caja8  caja9  caja11"
        "caja8  caja10 caja11";
}
.nom {
    background-color: #00adef;
    grid-area: nom;
}

.caja1 {
    background-color: #00adef;
    grid-area: caja1;
}

.caja2 {
    background-color: #00adef;
    grid-area: caja2;
}

.caja3 {
    background-color: #00adef;
    grid-area: caja3;
}

.caja4 {
    background-color: #00adef;
    grid-area: caja4;
    position: relative;
    min-height: 250px; 
    
    /* ESTO CENTRA AL OSO */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */

}
.circulo2 {
    background-color: #7030a0;
    width: 120px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #2e3192;
    position: absolute;
    bottom: 19px; 
    left: 50%;
    transform: translateX(-50%);
}
.circulo1 {
    background-color: #7030a0;
    width: 80px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #2e3192;
    position: absolute;
    bottom: 105px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.oreja1, .oreja2 {
    background-color: #384623; 
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}
.oreja1 { left: -5px; }
.oreja2 { right: -5px; }
.ojo1, .ojo2 {
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
}
.ojo1 { left: 15px; }
.ojo2 { right: 15px; }
.boca {
    background-color: red;
    width: 30px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 25px;
}
.caja5 {
    background-color: #00adef;
    grid-area: caja5;
}

.caja6 {
    background-color: #00adef;
    grid-area: caja6;
}

.caja7 {
    background-color: #00adef;
    grid-area: caja7;
}

.caja8 {
    background-color: #00adef;
    grid-area: caja8;
}

.caja9 {
    background-color: #00adef;
    grid-area: caja9;
}

.caja10 {
    background-color: #00adef;
    grid-area: caja10;
}

.caja11 {
    background-color: #00adef;
    grid-area: caja11;
}